In [4]:
import kagglehub
import pandas as pd
from pathlib import Path

# Download latest version
path = Path (kagglehub.dataset_download("yasserh/titanic-dataset"))

print ("Path to dataset files:", path)

data_set_name = Path ("Titanic-Dataset.csv")

df = pd.read_csv(path / data_set_name, header=None)

df

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.10)
Path to dataset files: C:\Users\Arath\.cache\kagglehub\datasets\yasserh\titanic-dataset\versions\1

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
unique_cols = [col for col in df.columns if df[col].nunique() == df.shape[0]]
print("Variables con valores Ãºnicos (poco Ãºtiles para clasificaciÃ³n):", unique_cols)

Variables con valores Ãºnicos (poco Ãºtiles para clasificaciÃ³n): [0, 3]

Variables categÃ³ricas y numÃ©ricas

In [7]:
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

print("Variables categÃ³ricas:", categorical_cols)
print("Variables numÃ©ricas:", numeric_cols)

Variables categÃ³ricas: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
Variables numÃ©ricas: []

In [8]:
# Calculamos la varianza de las variables numÃ©ricas
variances = df[numeric_cols].var()
variances_sorted = variances.sort_values(ascending=False)
print("Varianzas de variables numÃ©ricas:\n", variances_sorted)

# Seleccionamos las dos variables con mayor varianza
vars_alta_var = variances_sorted.index[:2].tolist()
print("Variables con mayor varianza:", vars_alta_var)

# Graficamos histogramas para visualizar su distribuciÃ³n
for col in vars_alta_var:
    plt.figure()
    plt.hist(df[col].dropna(), bins=30, alpha=0.7)
    plt.title(f'Histograma de {col}')
    plt.xlabel(col)
    plt.ylabel('Frecuencia')
    plt.show()

Varianzas de variables numÃ©ricas:
 Series([], dtype: float64)
Variables con mayor varianza: []

In [9]:
vars_baja_var = variances_sorted.index[-2:].tolist()
print("Variables con menor varianza:", vars_baja_var)

# Graficamos sus histogramas
for col in vars_baja_var:
    plt.figure()
    plt.hist(df[col].dropna(), bins=range(int(df[col].min()), int(df[col].max())+2), alpha=0.7, align='left')
    plt.title(f'Histograma de {col}')
    plt.xlabel(col)
    plt.ylabel('Frecuencia')
    plt.show()

Variables con menor varianza: []

In [ ]:
# Agrupamos los supervivientes por sexo
survivors_by_sex = df[df['Survived'] == 1]['Sex'].value_counts()
print("Supervivientes por sexo:")
print(survivors_by_sex)

# GrÃ¡fico de barras
plt.figure()
survivors_by_sex.plot(kind='bar', title='Supervivientes por Sexo')
plt.xlabel('Sexo')
plt.ylabel('Cantidad')
plt.show()

KeyError: 'Survived'